@model MyApp.Areas.Admin.Models.EditPageViewModel
<h2>Edit</h2>
<div class="row">
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
    {
        // 「3.2 保存アクションに値を送るフォーム作成.txt」
        /* ---------------------------------------------------------------------------------- */

        /* ---------------------------------------------------------------------------------- */
    }
</div>