
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 jumbotron alert-danger">
        <h2>Error</h2>
        <p>予期せぬエラーです</p>
    </div>
    <div class="col-lg-3"></div>
</div>
