@model MyApp.Areas.Admin.Models.LoginRequestModel
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h2>LoginPage</h2>
        @* フォーム外枠 *@
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
            // 「2.1 ログインIDとパスワード用のFormを作る.txt」の中身をこの間にコピー
            @* --------------------- *@
            
            @* --------------------- *@
            <button type="submit" class="btn btn-primary col-md-offset-1">Login</button>
        }
    </div>
    <div class="col-lg-3"></div>
</div>