@model System.Web.Mvc.HandleErrorInfo
@{ 
    ViewBag.Title = "Error";
    Layout = "~/Areas/Admin/Views/Shared/_SideMenuLayout.cshtml";
}

<div class="row">
    <div class="jumbotron alert-danger">
        <h2>Error</h2>
        <p>@Model.Exception.Message</p>
    </div>
</div>
