@model MyApp.Areas.Admin.Models.EditPageViewModel
<h2>Edit</h2>
<div class="row">
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
    {
        // 「3.2 保存アクションに値を送るフォーム作成.txt」の中身をこの間にコピー
        @* --------------------- *@
        
        @* --------------------- *@
        <button type="submit" class="btn btn-primary col-md-offset-4">Save</button>
    }
</div>
