@model MyApp.Areas.Admin.Models.PreviewPageViewModel

@{
    ViewBag.Title = "Preview";
    Layout = "~/Areas/Admin/Views/Shared/_SideMenuLayout.cshtml";
}

<style>
    .row{
        margin-top: 50px;
    }
</style>

<h2>Preview</h2>
@Html.Action("GetPreviewPage", "Home")