@model MyApp.Models.Portfolio.EditViewModel
@{
    ViewBag.Title = "Edit";
}

<h1>Edit Page</h1>

<section class="contents">
    @using (Html.BeginForm("Edit", "Portfolio", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.Title, new { value = Model.Title, name="Title" })
        <br>
        @Html.TextBoxFor(m => m.Description, new { value = Model.Description, name="Desctription" })
        <br>
        @Html.TextBoxFor(m => m.Profile_1, new { value = Model.Profile_1, name="Profile_1" })
        <br>
        @Html.TextBoxFor(m => m.Profile_2, new { value = Model.Profile_2, name = "Profile_2" })
        <br>
        <button type="submit">submit</button>
    }
</section>

