@model MyApp.Models.Portfolio.GetPageListViewModel
@{
    ViewBag.Title = "GetPageList";
}

<h2>GetPageList</h2>

<ul>
    @foreach (var user in Model.UserList)
    {
        <li>@Html.ActionLink(user.Name, "Index", "Portfolio", new { area = "", userId = user.Id }, null)</li>
    }
</ul>

@Html.ActionLink("管理者画面", "Login", "Auth", new { area = "Admin" }, null)

