<header class="main-visual">
    <h1 class="main-visual-title">Welcome to My HP!!</h1>
    <p class="main-visual-description">Sample Portfolio Site</p>
</header>
<section class="contents">
    <h2><img src="/Content/img/about-header.gif" width="134" height="55"></h2>
    <h3><img src="/Content/img/profile.gif" width="185" height="184"></h3>
    <p>
        大学を卒業後に都内のシステム開発会社に就職し、iPhone、Androidなどスマートフォン向けのネイティブアプリの開発などを担当しています。
    </p>
</section>
<section class="contents">
    <h2><img src="/Content/img/hobby-header.gif" width="134" height="55"></h2>
    <ul>
        <li class="hobby-list">
            iPhone、Androidなどスマートフォン向けのネイティブアプリの開発を行っています
        </li>
        <li class="hobby-list">
            主に風景写真を中心に撮影をして、フォトコンテストの応募やホームページ用の素材として販売しています
        </li>
        <li class="hobby-list">
            スマートフォン用オンライン対戦FPSが得意で週末は友人達と集まってプレイしています
        </li>
    </ul>
</section>
<section class="contents">
    <h2><img src="/Content/img/garelly-header.gif" width="173" height="56"></h2>
    <ul>
        <li>
            <img src="/Content/img/garelly01.jpg">
        </li>
        <li>
            <img src="/Content/img/garelly02.jpg">
        </li>
        <li>
            <img src="/Content/img/garelly03.jpg">
        </li>
    </ul>
</section>

@Html.ActionLink("一覧画面へ", "GetPageList", "Portfolio")

<footer class="footer">
    <p class="footer-copylight">COPYRIGHT Sample Site All Rights Reserved.</p>
</footer>

